doctype html
html
  |
  include ./includes/head.pug
  |
  body
    |
    include ./includes/header.pug
    |
    main.page-content
      .container
        |
        include ./includes/section-promo.pug
        |
        section.popular.popular__goods
          .popular__wrap
            h3.popular__title Популярные товары:
            a.btn.btn--red.btn--big(href="./catalog.html") Все популярные товары
            |
            .catalog.catalog--snippet
              |
              include ./includes/catalog-item.pug
              |
        section.popular.popular__manufacturers
          h3.popular__title Популярные производители:
          a.btn.btn--red.btn--big(href="./catalog.html") Все производители
          |
          include ./includes/brands.pug
          |
      include ./includes/section-services
      |
      .container
        |
        include ./includes/section-contacts
        |
    script(src='scripts/main.js')
