doctype html
html
  |
  include ./includes/head.pug
  |
  body
    |
    include ./includes/header.pug
    |
    main.page-content
      .container
        |
        include ./includes/section-promo.pug
        |
    script(src='scripts/main.js')
