footer.page-footer
  .container
    .footer
      .footer__logo-wrap
        .logo
          a.logo__link(href="./index.html") Техномарт
        |
        .callback
          address.callback__address
            | г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
            |
          a.callback__phone-number(href="tel:+78125550555") +7 (812) 555-05-55
      |
      nav.footer-navigation
        .footer-menu__wrap.footer-menu__wrap--main
          ul.footer-menu-list
            li.footer-menu-list__item
              a(href="#") Компания
            |
            li.footer-menu-list__item
              a(href="#") Новости
            |
            li.footer-menu-list__item
              a(href="./catalog.html") Каталог
            |
            li.footer-menu-list__item
              a(href="#") Доставка
            |
            li.footer-menu-list__item
              a(href="#") Контакты
        |
        .footer-menu__wrap.footer-menu__wrap--promo
          ul.footer-menu-list
            li.footer-menu-list__item
              a(href="#") Материалы
            |
            li.footer-menu-list__item
              a(href="#") Техника
            |
            li.footer-menu-list__item
              a(href="./catalog.html") Инструмент
            |
            li.footer-menu-list__item
              a(href="./catalog.html") Спецпредложения
  |
  .footer-social
    .container
      .footer-social__wrap
        .footer-copyright
          p.footer__text © 2010-2017 Компания "Техномарт" Все права защищены
        |
        .social-icons
          a.social-icon__link.social-icon__link--vk(href="https://www.vk.com", target="_blank") Vk
          |
          a.social-icon__link.social-icon__link--fb(href="https://www.facebook.com", target="_blank") Facebook
          |
          a.social-icon__link.social-icon__link--inst(href="https://www.instagram.com", target="_blank") Instagram
        |
        .footer-feedback
          p.footer__text
            | Обратная связь: 
            a.footer__links(href="mailto:mail@htmlacademy.ru", target="_blank") mail@htmlacademy.ru
        |
        .footer-developed
          p.footer__text
            | Разработано – 
            a.footer__links(href="https://www.htmlacademy.ru", target="_blank") htmlacademy.ru
          |
          p.footer__text
            | Сверстал – 
            a.footer__links(href="https://github.com/web-lake", target="_blank", title="https://github.com/web-lake") lake
