header.page-header
  .top-header
    .container
      .top-header__menu-wrap
        .logo
          a.logo__link(href="./index.html")
            h1.logo__title Техномарт
        |
        .search-on-site
          form.form-search(role="search")
            input.form-search__input#mySearch(type="search", name="Поиск", aria-label="Поиск по сайту", placeholder="Поиск:")
            |               
            button.form-search__button Поиск:
        |
        .top-header__bookmarks
          a.btn.btn--bookmarks(href="#") Закладки: 0
        |
        .top-header__cart
          a.btn.btn--cart(href="#") Корзина: 0
        |
        a.btn.btn--green(href="#") Оформить заказ
  |
  .container
    .info
      .info__text
        p Интернет-магазин строительных материалов и инструментов для ремонта
      |
      .info__callback
        a.info__phone-number(href="tel:+78125550555") +7 (812) 555-05-55
        |
        address.info__address
          | г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
      |
      .auth-block.auth-block--active
        a.btn.btn--profile.btn--profile-icon(href="#") Войти
        |
        a.btn.btn--profile(href="#") Регистрация
      |
      .auth-block__profile
        .auth-block__user
          a.btn.btn--profile.btn--profile-icon(href="#") Равшан Джамшутович
        |
        .auth-block__menu
          a(href="#") Мои заказы
          |
          a(href="#") Личный кабинет
    |
    nav.main-navigation
      ul.menu-list
        li.menu-list__item
          a.menu-list__link(href="./index.html") Главная
        |
        li.menu-list__item
          a.menu-list__link(href="#") Компания
        |
        li.menu-list__item
          a.menu-list__link(href="./catalog.html") Каталог
        |
        li.menu-list__item
          a.menu-list__link(href="#") Новости
        |
        li.menu-list__item
          a.menu-list__link(href="./catalog.html") Спецпредложения
        |
        li.menu-list__item
          a.menu-list__link(href="#") Доставка
        |
        li.menu-list__item
          a.menu-list__link(href="#") Контакты
