section.contacts
  .contacts-company
    h3.contacts-company__title Компания "Техномарт"
    |
    p
      | Настоящий мужской шопинг начинается здесь! Огромный выбор товаров для ремонта и строительства не оставит равнодушными любителей сэкономить на гастарбайтерах.
    |
    p
      | Мы можем доставить ваш товар в самые отдаленные точки России! Техномарт работает со многими транспортными компаниями:
    |
    ul.transporter-list
      li.transporter-list__item
        a(href="#") Деловые линии
      |
      li.transporter-list__item
        a(href="#") Автотрейдинг
      |
      li.transporter-list__item
        a(href="#") ЖелДорЭкспедиция
    |
    a.btn.btn--red(href="#") Подробнее о компании
  |
  .contacts-map
    h3.contacts-map__title Контакты
    |
    p.contacts-map__descr Вы можете забрать товар сами, заехав в наш офис:
    |
    #map.map
    |
    a#write-us.btn.btn--red.btn--big(href="./write-us.html", target="_blank") Заблудились? Напишите нам!
